*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.logo_img{
  width: 120px;
  padding-left: 20px;
}

.titulo{
  font-size: 25px;
   padding-left: 155px;
   margin-top: -70px;
}
.titulo2{
   padding-left: 155px;

}